/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.togglebtn {
  border-radius: 0px;
  data-height: 15;

}

.togglebtn .btn {
  background-color: blueviolet;
  color: #ffffff;

}

.togglebtn .btn:hover {
  background: #cf3232;
}

.accordianContainer {
  border-top: 0px;
}

.placementbtn {
  border-top: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  /*background: #32fd35;*/
  background-color: #fbfdff;
  border-radius: 0px;
  text-align: left;
  padding-left: 0px;
  left:0px;
  white-space: normal;
}
.childplacement {
  border-top: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  background: #f7f4e8;
  background-color: #f5eac9;
  border-radius: 0px;
  text-align: left;
  padding-left: 12px;
  left:15px;
  white-space: normal;
}

.defaultbtn {
 border: 0px;
   /*border-right-width: 0px;
  border-left-width: 0px;*/
  background-color: #fafaff;
  /*border-radius: 0px;*/
  text-align: left ;
  padding-bottom: 5px;
  white-space: normal;
}

.defaultbtn:hover{
  background-color: #FFD48F;
}

.childoption {
  border-top: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  background: #f7f4e8;
  background-color: #f5eac9;
  border-radius: 0px;
  text-align: left ;
  padding-left: 20px;
  left: 15px;
  white-space: normal;
}

.childselect{
   /*color: #f5d9bc;*/
  color: #9d1923;
}

.nothing{
  color: rgb(255, 252, 243)
}

.defaultbtn:focus,
.defaultbtn:active,
.defaultbtn.active,
.childplacement:focus,
.childplacement:active,
.childplacement.active,
.seqsetbtn:focus,
.seqsetbtn:active,
.placementbtn:focus,
.placementbtn.active,
.placementbtn:active
.placementbtn:focus:active{
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.childplacement:hover,
.placementbtn:hover {
  background-color: #ebeded;
}

.childborder{
  border-width: 1px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: #996633;
  background-color: #f5eac9;

}

.seqsetbtn {
  border-top: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  background: #f7b6b9;
  background-color: #f7e3d5;
  border-radius: 0px;
  text-align: left ;
  padding-left: 0px;
}

.seqsetbtn:hover {
  background-color:#F7cccb;
}

.camerabtn {
  /*margin-left: 5px;*/
  /*margin-bottom: 8px;*/
  /*border-radius: 5px;*/

  height: 22px;
  width: 70px;
  background-color: #f7ffda;
  font-size: smaller;
  margin-top: 5px;
  text-align: center;
}

.camerabtn:disabled {
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}


/*.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 5px;
  width: 40px;
  height: 30px;
}*/

.radiobtn {
  background-color: #a9d9f7;
  /*border-radius:15px;
  height: 30px;
  width: 30px;*/
  border: 2px;
  border-color: #000066;

  /*width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;

    background: #4679BD;
    box-shadow: 0 0 3px gray;*/
}
.radiobtn:active,
.radiobtn.active,
.radiobtn:hover,
.radiobtn.selected{
  border: 2px;
  border-color: #A00000;
  background-color: #b3aac1;
}

/*.radiobtn:hover{
    background-color: #33c0c1;
}*/

.default-text {
  text-align: left ;
  padding-left: 0px;
  padding-top: 7px;
}

.janefont{
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
}

.janetext{
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}


.verticalLine {
  border-left: solid #0000ff;
}

.optionbtn {
  border-width: 1px;
  border-color: #c6c7d2;
  /*border-top: 1px;
  border-right-width: 1px;
  border-right-color: #996633;
  border-left-width: 1px;
  border-left-color: #996633;
  border-bottom-width: 1px;
  border-bottom-color:#996633  ;*/
  background: #fbfdff; /*f7f4e8;*/
  border-radius: 0px;
  padding-left: 18px;
  padding-bottom: 5px;
  text-align: left;
  white-space: normal;
  border-right-width: 0px;
  left: 42px;
  color: #000000;
}

.optionbtn-disabled {
  background: #ebeded;
  color: #666666;
}

.optionbtn:hover {
  background-color: #ebeded; /*#edd99f;*/
}

.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #000000;
}

.caret-centre {
  /*horiz--align: middle;*/
  /*display: inline-block;*/
  padding-top: 8px;
  color: #c6c7e1;
  filter: alpha(opacity=40)
  /*position:absolute;*/
  /*top:45%;*/
  /*left:45%;*/
 /* position:relative;
  top: calc(50% - 10px);*/
}

.radio-centre {
  vertical-align: middle;
  horiz-align: center;
  display: inline-block;
}

.scriptbox {
  /*border: solid blue 1px;*/
  overflow: scroll;
  height: 600px;
  overflow-x: hidden;
  padding-right: 0px;
  /*margin-left: 10px;*/
  width: 780px;
}

.speakertxt{
  text-align: left;
  white-space: normal;
  /*left: 40px;*/

  padding-left: 0;
  padding-top: 5px

}

.leaveoption{
  background-color:#f5eac9;
}

.enteroption {
  /*background-color:#edd99f;*/
  background-color: #ed1750;
}