<div class="container scriptbox">
    <div ng-repeat="cut in content()">
            <span ng-switch="cut.type">
                    <ctoria-alt-free ng-switch-when="ALTERNATIVE_FREE" cut="cut" db_id="0"
                                     selected="0"></ctoria-alt-free>
                    <ctoria-default ng-switch-when="DEFAULT" cut="cut" db_id="0"></ctoria-default>
                    <ctoria-seq-set ng-switch-when="SEQUENCE_SET" cut="cut" set-selected="" seq-index=""
                                    db_ids="0"></ctoria-seq-set>
                    <ctoria-alt-paired ng-switch-when="ALTERNATIVE_PAIRED" cut="cut"
                                       data-selected-position="0"></ctoria-alt-paired>
                    <ctoria-alt-parent ng-switch-when="ALTERNATIVE_PARENT" cut="cut"></ctoria-alt-parent>
                    <ctoria-alt-paired-parent ng-switch-when="ALTERNATIVE_PAIRED_PARENT" cut="cut"
                                              data-selected-position="0"></ctoria-alt-paired-parent>
            </span>
    </div>
</div>



