<div class="container col-md-10">

    <div id=row_def_{{cut.id}}_child_{{cut.position}} class="row childborder" style="background-color:#ffdfae; padding-left:10px">
        <div style="padding-left: 0px">
            <button id=def_{{cut.id}}_child_{{cut.position}} class="col-md-10 default-text defaultbtn" ng-click="fold(cut.id + '_child_' + cut.position)">{{cut.id | speaker}} {{cut.default.line}}</button>
        </div>
        <div id=def_icon_{{cut.id}}_child_{{cut.position}} class="col-md-2 pull-right"><i
                class="pull-left glyphicon glyphicon-chevron-right caret-centre"></i>
        </div>
    </div>

    <div id=row_opt_{{cut.id}}_child_{{cut.position}} class="row" style="background-color: #f5eac9;padding-left:10px">
        <div class="col-md-12" style="padding-left: 0px">
            <p data-cut-id={{cut.id}}_child_{{cut.position}} data-selected-position="0"
                    class="col-md-12 childoption" style="margin-top: 6px">free alt {{cut.id}}
            </p>
        </div>
    </div>
</div>


<div id=collapse_{{cut.id}}_child_{{cut.position}} collapse="true" class="col-md-10">
    <button id={{cut.id}}_child_{{cut.position}}_opt_{{option.position}} data-position='{{option.position}}'
            ng-click="optionClick(cut.id + '_child_' +  cut.position +'_opt_'+ option.position)" data-is-selected='false'
            data-option-id='{{option.id}}' class="btn col-md-12 optionbtn"
            ng-repeat="option in cut.options">
        {{option.line}}
    </button>
</div>