<div class="container">
    <div id=row_{{cut.id}} class="row col-md-11" style="background-color: #f5eac9">
        <div class="col-md-10" style="padding-left: 0px">
            <button data-cut-id={{cut.id}} data-selected-position="0"
                    class="btn  col-md-12 placementbtn"
                    ng-click="fold(cut.id)">Pause {{cut.id}}
            </button>
        </div>
        <div id=icon_{{cut.id}} class="col-md-2  caret-centre"><i
                class="pull-left glyphicon glyphicon-chevron-right"></i>
        </div>
    </div>
</div>

<div id=collapse_{{cut.id}} collapse="true" class="col-md-9 container" style="background-color: #ffffff">
    <div class="btn-group-vertical">
        <div ng-repeat="set in cut.sets">
            <div class="col-md-8 default-text" style="padding-left: 0;background-color:#ffdfae;left: 25px;">
                <p style="margin-left: 10px">{{set.name | uppercasePause}}</p>
            </div>
            <div class="container" ng-repeat="seq in set.seqs">
                <button id={{cut.id}}_{{set.name}}_{{$index}}  set-name="{{set.name | uppercasePause}}"
                        class="btn col-md-8 optionbtn" ng-click="pauseClick(cut.id + '_'+ set.name + '_' + $index)">
                   {{seq | seqCamera}}
                </button>
            </div>
        </div>
    </div>



</div>