
<button data-cut-id={{cut.id}} data-selected-position="0" class="btn btn-default btn col-md-12 placementbtn"  ng-click="isCollapsed = !isCollapsed">free alt {{cut.id}}
<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCollapsed, 'glyphicon-chevron-right': !isCollapsed}"></i></button>
<div collapse="!isCollapsed">
    <button id={{cut.id}}_opt_{{option.position}} data-position='{{option.position}}' ng-click="playClick(cut.id+'_opt_'+ option.position)" data-is-selected='false' data-option-id='{{option.id}}' class="btn col-md-12 optionbtn" ng-click="collapse()" ng-repeat="option in cut.options">
        {{option.speaker}}: {{option.line}}
    </button>
</div>