<div class="container">
    <div id=row_{{cut.index}} data-file="0" data-ctoria-type="ALTERNATIVE_PAIRED" class="row col-md-6" style="background-color: #fbfdff">
        <div class="row col-md-8"  style="border-left: 1px solid #c6c7d2;">
            <div speaker-cut-id={{cut.index}} class="col-md-1 speakertxt" style="padding-left: 0px;padding-top: 5px">
                {{cut.index | speaker}}
            </div>
            <div class="col-md-11" style="padding-left: 18px">
                <button id={{cut.index}}_pos_{{cut.arguments.pos}} data-cut-id={{cut.index}} data-selected-position="0"
                        class="btn col-md-12 placementbtn pull-left"
                        ng-click="fold(cut.index)">free alt {{cut.index}}>
                </button>
            </div>
        </div>

        <div id=icon_{{cut.index}} class="col-md-4 pull-right">
            <span class="pull-left linktext" style="align-content: center "><i class="glyphicon glyphicon-link pairedlink" style="margin-top: 8px"></i>&nbsp{{cut.arguments.pos | ordinal}}/{{cut.arguments.total}}
            </span>
            <i class="fa fa-chevron-right caret-centre"  style="position: relative; left:15px"></i>
            <span><button id=camera_{{cut.index}} db_id="0" ng-click="cameraToggle()" class="pull-right camerabtn">
                {{cut.options[0].sources[0].file | camera}}>
            </button></span>
        </div>
    </div>


    <div id=collapse_{{cut.index}} collapse="true" class="container" style="padding-left: 0px">
        <div class="row col-md-7" style="padding-left: 10px">
        <button id={{cut.index}}_opt_{{option.position}} data-position='{{option.position}}'
                ng-click="optionClick(cut.index + '_opt_'+ option.position)" 
                data-option-id='{{option.id}}' class="btn col-md-10 optionbtn"
                ng-repeat="option in cut.options">
            {{option.line}}
        </button>
            </div>
    </div>
</div>