<div class="container">
    <div id=row_{{cut.index}} class="row col-md-6" data-file="0" data-ctoria-type="ALTERNATIVE_PARENT"
         style="background-color: #fbfdff;border-left: 1px solid #c6c7d2;padding-left: 20px">
        <div class="col-md-9" style="padding-left: 0">
            <div speaker-cut-id={{cut.index}} class="col-md-1 speakertxt" style="padding-left: 0px;padding-top: 5px">
                {{cut.index | speaker}}
            </div>

            <div class="col-md-11" style="padding-left: 10px">
                <button data-cut-id={{cut.index}} class="btn  col-md-12 placementbtn pull-left "
                        ng-click="fold(cut.index)">
                    parent alt {{cut.index}}
                </button>
            </div>
        </div>
        <div id=icon_{{cut.index}} class="col-md-3"><i class="pull-left fa fa-chevron-right  caret-centre"
                                                       style="position: relative;left: 20px"></i>
            <span><button id=camera_{{cut.index}} ng-click="cameraToggle()" class="pull-right camerabtn" data-camera="">
                {{cut.children[0].options[0].sources[0].file | camera}}
            </button></span>
        </div>
    </div>
</div>

<div id=collapse_{{cut.index}} collapse="true" class="container">
    <div ng-repeat="child in cut.children">
        <span ng-switch="child.type">
                    <!--<ctoria-child-free ng-switch-when="ALTERNATIVE_FREE" cut="child" child-index="child.position" data-db-id="0" selected="0"></ctoria-child-free>-->
                    <ctoria-child-compound ng-switch-when="ALTERNATIVE_COMPOUND" cut="child" index="cut.index"
                                           child-index="child.position" selected="0" data-db-id="0"
                                           style="position:relative;left:25px"></ctoria-child-compound>
        </span>
    </div>
</div>